:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
*,
*::before,
*::after,
html,
body {
  padding: 0px;
  margin: 0px;
}
body {
  margin: auto;
  background-color: #f2f881;
}
main {
  /* width: 800px; */
  max-width: 1000px; /* Importante definir max y min width para poner centrar y que luego el contenido pueda ser dimensionado acorde a las dimensiones que le he dado*/
  min-width: 200px;
  display: flex;
  margin: auto; /* Este margin auto dependerá y funcionará si he definido un tamaño de width */
  flex-flow: row wrap;
  justify-content: center; /* En este caso de flexBox el contenido se centra con justify-content: center, para el caso de inline-block funciona bien solo con text-align: center; */
}
h1 {
  background-color: gray;
  text-align: center;
  font-size: 1.8rem;
}
h2 {
  background-color: rgb(198, 198, 198);
  text-align: end;
  border-bottom: 2px dashed black;
  font-size: 1.4rem;
  padding-bottom: 0.2rem;
  padding-right: 0.8rem;
  margin-bottom: 0.6rem;
}
section {
  width: 200px;
  height: 100%;
  border: 2px dashed black;
  overflow: hidden;
  margin: 0.2rem;
}
h3 {
  background-color: #bbbbbb;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0.2rem;
}
article {
  border: 1px solid black;
  margin: 0.2rem;
  overflow: auto;
}
h4 {
  background-color: #959595;
  text-align: end;
  color: white;
  font-size: 0.7rem;
  padding: 0.2rem;
}
p {
  font-size: 0.9rem;
  padding: 0.2rem;
}
