body {
  width: 80%;
  margin: auto;
}
.verificado {
  border: 2px solid green;
}
.verificadoLet::before {
  content: "✔";
  color: green;
}
.campo_horizontal {
  display: flex;
  width: 80%;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.campo_horizontal #terminos_usuario {
  width: 10%;
}
div#error,
div#error2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.noverificado {
  border: 2px solid red;
}
.noverificadoLet::before {
  content: "✘";
  color: red;
}
.limpia::before {
  content: none;
  color: none;
}
fieldset {
  width: 80%;
  border: 0;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
label {
  width: 40%;
}
input {
  width: 40%;
  height: 20px;
  border-radius: 5px;
  margin-bottom: 0.6rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input#dia_usuario,
input#mes_usuario,
input#anio_usuario,
label#dia2,
label#mes2,
label#anio2 {
  margin-left: 2rem;
  width: 30%;
}
button {
  width: 16%;
  margin: 0 1rem;
}
