:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  box-sizing: border-box;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 3rem;
  margin: 2rem 3rem 3rem 3rem;
}
h3 {
  font-size: 1.3rem;
  line-height: 2.5rem;
  margin-left: 2rem;
  margin-top: 2rem;
}
.contenedor {
  width: 90%;
  height: 230px;
  background-color: blue;
  margin: 3rem auto;
  overflow: hidden;
}
.contenedor img {
  width: 100%;
  /* object-fit: cover; */
  transition: all 0.5s ease;
}
.contenedor img:hover {
  transform: scale(1.4);
}
.galeria {
  width: 90%;
  margin: 2rem auto;
  transition: all 0.5s ease;
  border-radius: 30px;
}
.galeria:hover {
  box-shadow: 0 0 5px white, 0 0 15px white, 0 0 30px wheat;
}
.foscuro {
  background-color: rgb(0, 0, 0);
}
.clear {
  text-align: center;
}

p {
  margin: 0.6rem 2rem 2rem 2rem;
  column-count: 1;
}

/* Hasta 480px funcionara como lo tengo, mayor a ese tamaño hará lo que le digo acontinuacion */
@media screen and (min-width: 480px) {
  h1 {
    font-size: 2rem;
    margin: 2rem 3rem 2rem 3rem;
  }
  .clear {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .galeria {
    width: 40%;
    margin: 0.5rem;
    border-radius: 20px;
  }
  .contenedor {
    width: 40%;
    height: 180px;
    display: inline-block;
    margin: 0.8rem;
  }
  p {
    column-count: 2;
    column-gap: 3rem; /* funciona con textos y con flexbox */
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-weight: 700;
    margin: 2rem 2rem;
  }
  .galeria {
    width: 25%;
    /*   padding: 0.5rem; */
  }
  .contenedor {
    width: 25%;
    height: 150px;
    margin: 0.8rem;
  }
  p {
    column-count: 3;
  }
}

@media screen and (min-width: 1280px) {
  .contenedor {
    width: 20%;
    height: 180px;
    margin: 0.5rem;
  }
  .galeria {
    width: 20%;
  }
  p {
    column-count: 4;
  }
}
